body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}


.image-sec {
    width: 95%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

#current-image-container, #search-form{
    width: 95%;
    margin: auto;
}

li {
    list-style: none;
    color: blue;
    border-bottom: 1px solid blue;
    width: fit-content;
    cursor: pointer;
}

@media (max-width: 578px) {
    img {
        height: 400px;
    }
    .image-sec{
        margin-top: 0px;
    }
}